*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper
{
    width: 90%;
    min-height: 600px;
    border: 2px solid black;
    margin:  10px auto;
    background-image: linear-gradient(to left,#8E0E00,#1F1C18);
}
.box
{
    width: 100%;
    height: 70px;
    margin: auto;
}
.background
{
    width: 100%;
    height: 550px;
    margin-top: 10px;
    background-image: url(/imgs/netflix-background.jpg);
    background-size: 100% 100%;
}
.title
{
    float: left;
}
.title h1
{
    color: red;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    margin-left: 20px;
}
.menu-bar
{
    float: right;
    padding: 10px;
    margin-top: 10px;
}
.menu-bar a
{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-family: "Kode Mono", monospace;
    font-size: 18px;
}
.menu-bar a:hover
{
    color: red;
}
.Login
{
    width: 23%;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 25%;
    right: 65%;    
    border: 4px solid rgb(106, 4, 4); 
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    box-shadow: 5px 5px 15px 10px rgba(245, 2, 2, 0.929);
    background-color: #1F1C18;
}
.Login h2
{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: white;
    font-family: "Kode Mono", monospace;
    font-weight: normal;
}
.form-page
{
    width: 100%;
    margin: 30px 10px; 
}
.form-page label
{ 
    width: 100%;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
input[type=text]
{
    width: 87%;
    height: 40px;
    border: none;
    /* background: none; */
    outline: none;
    color: rgb(8, 6, 6);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
}
input[type=text]::placeholder
{
    text-align: left;
    padding-left: 35px;
    color: rgb(10, 10, 9);
    background-image: url(/imgs/user2.png);
    background-repeat: no-repeat;
    background-size: 13% 120%;
}
input[type=password]
{
    width: 87%;
    height: 35px;
    border: none;
    /* background: none; */
    outline: none;
    margin-top: 10px;
    /* color: white;
    border-bottom: 1px solid white; */
    border-radius: 5%;
    border: 1px solid white;
}
input[type=password]::placeholder
{
    text-align: left;
    padding-left: 35px;
    color: rgb(6, 6, 6);
    background-image: url(/imgs/lock.png);
    background-repeat: no-repeat;
    background-size: 13% 110%;
}
input[type=submit]
{
    width: 40%;
    height: 30px;
    margin: 30px 80px;
    padding: 5px 10px;
    color: black;
    /* background: none; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url(/imgs/login.png);
    background-repeat: no-repeat;
    background-size: 20% 110%;
}
input[type=submit]:hover
{
    background-color: rgb(252, 247, 247);
}