*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Layout
{
    background-color: rgb(172, 245, 230);
    width: 95%;
    min-height: 200px;
    margin: auto;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 80px 150px 150px 150px 80px;
    grid-gap: 10px;
}
.l1
{
    background-color: rgb(55, 98, 228);
    /* border: 1px solid black; */
    grid-column: 1/5;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    width: 98%;
    margin: auto;
    margin-top: 10px;
}
.l2
{
    background-color: rgb(131, 160, 247);
    /* border: 1px solid black; */
    grid-row: 2/5;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 100px;
    margin-left: 15px;
    margin-top: 10px;
}
.l3
{
    background-color: rgb(170, 171, 174);
    /* border: 1px solid black; */
    grid-column: 2/4;
    grid-row: 2/5;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 100px;
    margin-top: 10px;
    
}
.l4
{
    background-color: rgb(131, 160, 247);
    /* border: 1px solid black; */
    grid-row: 2/5;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 100px;
    margin-right: 15px;
    margin-top: 10px;
}
.l5
{
    background-color: rgb(55, 98, 228);
    /* border: 1px solid black; */
    grid-column: 1/5;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    width: 98%;
    margin: auto;
    margin-bottom: 10px;
}